/laradock
/vendor
/storage
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/workspace.xml
.idea/blade.xml
.idea/misc.xml
public/manage/.DS_STORE
.idea/*
/public/config.js
/public/config.css
socketEnv.js
.npm/
.pm2/
.*
/public/render-landingpage/tmp/*
/public/landing-page/*
/public/landingpage-libs/elements/preview_*.html
/public/landingpage-libs/elements/images/uploads/*.*
!/public/landingpage-libs/elements/images/uploads/bg2.jpg
!/public/landingpage-libs/elements/images/uploads/image.jpg
!/public/landingpage-libs/elements/images/uploads/pad.png
!/public/landingpage-libs/elements/images/uploads/tablet-cover.png
!/public/landingpage-libs/elements/images/uploads/tablet-new.png


