#app {
  height: 100%;
  width: 100%
}

a {
  cursor: pointer;
}

#loading-page {
  width: 100%;
  height: 100%;
  display: flex
}

.item-header-tab-parent {
  border: 1px solid #ddd;
  padding-left: 15px;
}

.item-header-tab-parent {
  cursor: pointer;
}

.header-tab-parent {
  font-weight: bold !important;
  font-size: 15px !important;
}

.table-list-role {
  margin-bottom: 0px;
}

.logo-header {
  height: 50px;
  width: 50px;
  margin-top: 15px;
}

.color-white {
  color: white;
}

.logo-sidebar {
  height: 40px;
  width: 40px;
}

.btn-group-action {
  display: flex;
}

.btn-group-action a i {
  color: #878787;
  font-size: 20px;
}

.btn-group-action a i:hover {
  color: #343434;
}

table tr td .avatar-list-staff {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;

}

.table .checkbox {
  width: 100%;
}

.panel-group .panel-title .checkbox {
  display: inline;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.btn-main {
  width: 100%
}

.progress-bar-table {
  width: 100px;
  margin-top: -5px
}

.content-avatar {
  width: 307px;
  height: 307px;
  overflow: hidden
}

.text-white {
  color: white;
}

.modal-small-text {
  font-size: 85%;
  opacity: 0.6;
}

.keetool-card, .keetool-board {
  touch-action: none;
}

#card-email-template {
  margin-top: 20px;
}

#card-email-template .card-header {
  border-radius: 10px;
}

#card-email-template .ct-chart {
  border-radius: 10px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 200px;
}

#card-email-template .card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.no-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.flex-justify-content-center {
  justify-content: center;
}

.quiet {
  color: #8c8c8c
}

.kt-overlay {
  z-index: 9;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3px;
  padding: 10px;
}

.table-responsive > .table > tbody > tr > td > #register-email {
  width: 100px;
  word-break: break-all
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td > #register-email {
    width: 100%;
  }
}

.container-dot-bottom-right {
  position: relative;
  z-index: 10;
}

.dot-bottom-right {
  position: absolute;
  border-radius: 9px;
  background-color: #c50000;
  width: 18px;
  color: #fff;
  right: -7px;
  bottom: -5px;
  vertical-align: middle;
  line-height: 18px !important;
  text-align: center;
  border: solid 1px white;
  cursor: pointer;
  height: 18px;
}

.container-call-status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vertical-top {
  vertical-align: top !important;
}

.full-width {
  width: 100% !important;
}

.padding-left-right-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.circle {
  border-radius: 50%;
}

.margintop-10 {
  margin-top: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.square-100 {
  width: 100px !important;
  height: 100px !important;
}

.content-qr-code {
  text-align: center;
  float: right
}

.width-50-percent {
  width: 200px;
}

.margin-left {
  margin-left: 40px;
}

.content-progress-student {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.content-progress-student {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 39px;
}

.progress-student {
  width: 300px;
  margin-bottom: 0px;
}

.text-progress-student {
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .content-qr-code {
    float: left
  }
}

.timeline-body .flex-row-center > .material-icons {
  font-size: 14px;
}

.text-name-student-register {
  color: black;
  font-weight: 600;
}

$ratingSize: 100px;
$starActive: #F9D616;
$starInactive: #c4c5c6;

.star-rating {
  height: ($ratingSize/5);
  position: relative;
  width: $ratingSize;
  &:before {
    background-image: url(#{"data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20"+$starInactive+"%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E"}) !important;
    background-repeat: repeat-x;
    background-size: ($ratingSize/5);
    bottom: 0;
    content: "";
    display: block;
    height: ($ratingSize/5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }
  > span {
    display: block;
    text-indent: -10000px;
    width: $ratingSize;
    height: ($ratingSize/5);
    position: absolute;
    overflow: hidden;
    &:before {
      background-image: url(#{"data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22929%22%20height%3D%22886%22%20viewBox%3D%220%200%20929%20886%22%3E%3Cstyle%3Epath%20%7B%20fill%3A%20"+$starActive+"%20!important%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M929%20343c0%208-5%2017-15%2027L711%20567l48%20279c1%203%201%207%201%2012%200%2015-8%2027-22%2027-7%201-15-1-23-6L464%20747%20214%20879c-9%205-16%207-23%207-14%200-23-15-23-28%200-3%200-7%201-12l48-279L14%20370c-9-10-14-19-14-27%200-14%2010-23%2031-26l280-40L437%2023c7-15%2016-23%2027-23s20%208%2028%2023l125%20254%20280%2040c21%203%2032%2012%2032%2026z%22%2F%3E%3C%2Fsvg%3E"}) !important;
      background-repeat: repeat-x;
      background-size: ($ratingSize/5);
      bottom: 0;
      content: "";
      display: block;
      height: ($ratingSize/5);
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 10000px;
      top: 0;
    }
  }
}

.star-rating {
  margin: 0 auto ($ratingSize * 0.05);
}

.text-email {
  text-transform: lowercase !important;
}

.flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-space-between {
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

.width-100 {
  width: 100% !important;
}

.size-40-px {
  width: 40px;
  height: 40px;
}

.z-index-2 {
  z-index: 2;
}

.min-width-100-px {
  min-width: 100px;
}

.min-width-80-px {
  min-width: 80px;
}

.min-width-120-px {
  min-width: 120px;
}

.min-width-130-px {
  min-width: 130px;
}

.min-width-150-px {
  min-width: 150px;
}

.max-width-150-px {
  max-width: 150px;
}

.max-width-130-px {
  max-width: 130px;
}

.padding-horizontal-10px {
  padding-left: 5px;
  padding-right: 5px;
}

.image-class-attendance-class-dashboard {
  margin-right: 10px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  vertical-align: middle;
}

.text-h5 {
  font-size: 1.25em;
}

.text-h6 {
  font-size: 1em;
}

//fix scrolling issue in board

.keetool-content {
  margin-top: 60px;
  min-height: calc(100vh - 70px);
  padding: 10px;
}

.btn-more-dropdown {
  color: #858585;
}

.more-dropdown-item .material-icons {
  font-size: 16px !important;
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.dropdown:hover .hover-dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.none-margin {
  margin: 0 !important;
}

.none-padding {
  padding: 0 !important;
}

.none-padding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.none-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.full-height {
  height: 100%;
}

.email-template {
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 4px transparent;
}

.email-template-selected > .card {
  border: solid 4px #bdc1c9;
  position: relative;
}

.email-template-selected-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.email-template-selected-icon .material-icons {
  color: #00b836;
  background: white;
  border-radius: 50%;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

div#datatables-goodorders_filter.dataTables_filter input {
  margin-left: 0 !important;
}

div#datatables-goodorders_filter.dataTables_filter {
  text-align: left !important;
}

div#datatables-goodorders_filter.dataTables_filter {
  input {
    width: 100%;
  }
  label {
    width: 100%;
  }
  .form-group {
    width: 100%;
  }

}

div#datatables-goodorders_length label {
  display: flex;
  flex-direction: row;
  align-items: center;
  .form-group-sm {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.good-detail-header a {
  display: block;
  height: 100%;
  margin: -15px;
  padding: 15px;
}

.spinner {
  height: 60px;
  width: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.container-for-images {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: 5px
}

.overlay-for-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  border-radius: 5px
}

.container-for-images:hover .overlay-for-images {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.container-for-images:hover {
  top: 2.5px;
}

.button-for-images {
  position: absolute;
  top: 5%;
  left: 72%;
  opacity: 0;
  transition: opacity .35s ease;
}

.button-for-images a {
  text-align: center;
  color: white;
  z-index: 1;
}

.container-for-images:hover .button-for-images {
  opacity: 1;
}

.avatar-work-shift {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  float: right;
  margin-left: 3px
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.cursor-pointer {
  cursor: pointer
}

img .product-image {
  position: absolute;
}

.list-group-item label {
  white-space: pre;
}

.col-container {
  display: flex;
}

.col {
  flex: 1;
}

.not-allowed {
  cursor: not-allowed;
}

.d3 {
  font: 10px sans-serif;
  background: white;
}

.d3-point {
  fill: #2B8FF3;
}

.d3-tooltip-rect {
  fill: #fff;
  stroke: #555;
  stroke-width: 1;
}

.d3-tooltip-text {
  font-size: 18px;
  font-weight: bold;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 67%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.noUi-handle {
  border-color: #bbbbbb !important;
}

.noUi-active {
  transform: scale3d(1, 1, 1) !important;
}

.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box > * {
  flex: 0 0 20%;
}

.box-images-website-create {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-images-website-create > * {
  flex: 0 0 33.33%;
}

.container-for-avatar {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border: 0 none;
  background-size: cover;
  background-position: center center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.stats > i {
  margin-right: 5px;
}

.none-margin-left {
  margin-left: 0px;
}

.none-margin-right {
  margin-right: 0px;
}

a.btn-seat {
  color: #696969;
}

a.btn-seat.active {
  color: #c50000;
}

.d3-point.active {
  stroke: #000;
}

.d3-point, .d3-text {
  cursor: pointer;
}

.d3-point.archived {
  fill: #dedede!important;
}


