#app {
  height: 100%;
  width: 100%
}

a {
  cursor: pointer;
}

#loading-page {
  width: 100%;
  height: 100%;
  display: flex
}

.item-header-tab-parent {
  border: 1px solid #ddd;
  padding-left: 15px;
}

.item-header-tab-parent {
  cursor: pointer;
}

.header-tab-parent {
  font-weight: bold !important;
  font-size: 15px !important;
}

.table-list-role {
  margin-bottom: 0px;
}

.logo-header {
  height: 50px;
  width: 50px;
  margin-top: 15px;
}

.color-white {
  color: white;
}

.logo-sidebar {
  height: 40px;
  width: 40px;
}

.btn-group-action {
  display: flex;
}

.btn-group-action a i {
  color: #878787;
  font-size: 20px;
}

.btn-group-action a i:hover {
  color: #343434;
}

table tr td .avatar-list-staff {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;

}

.table .checkbox {
  width: 100%;
}

.panel-group .panel-title .checkbox {
  display: inline;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.btn-main {
  width: 100%
}

.progress-bar-table {
  width: 100px;
  margin-top: -5px
}

.content-avatar {
  width: 307px;
  height: 307px;
  overflow: hidden
}

.text-white {
  color: white;
}

.modal-small-text {
  font-size: 85%;
  opacity: 0.6;
}

.keetool-card, .keetool-board {
  touch-action: none;
}

#card-email-template {
  margin-top: 20px;
}

#card-email-template .card-header {
  border-radius: 10px;
}

#card-email-template .ct-chart {
  border-radius: 10px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 200px;
}

#card-email-template .card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  width: 100%;
}

.no-data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.quiet {
  color: #8c8c8c
}

.kt-overlay {
  z-index: 9;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3px;
  margin-left: -5px;
  margin-top: -5px;
  padding: 10px;
}

.table-responsive > .table > tbody > tr > td > #register-email {
  width: 100px;
  word-break: break-all
}

@media screen and (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td > #register-email {
    width: 100%;
  }
}

.container-dot-bottom-right {
  position: relative;
  z-index: 10;
}

.dot-bottom-right {
  position: absolute;
  border-radius: 9px;
  background-color: #c50000;
  width: 18px;
  color: #fff;
  right: -7px;
  bottom: -5px;
  vertical-align: middle;
  line-height: 18px;
  text-align: center;
  border: solid 1px white;
  cursor: pointer;
}

.container-call-status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vertical-top {
  vertical-align: top !important;
}

.full-width{
  width: 100%!important;
}

.padding-left-right-10{
  padding-left: 10px!important;
  padding-right: 10px!important;
}