.upload-button {
  label > * {
    pointer-events: none;
  }

  .upload-button-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -100000000;
  }
}
