.kt-btn-upload-attachment {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0;
}

.kt-btn-upload-attachment:hover {
  background-color: #ebebeb;
}

.kt-btn-upload-attachment-container {
  padding: 0
}