.btn-rose, div [data-background-color="rose"], .sidebar[data-active-color="rose"] li.active > a, .off-canvas-sidebar[data-active-color="rose"] li.active > a{
    background: rgba(0, 147, 238, 1)!important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 147, 238, 0.4) !important;
}

.btn-rose:hover{
    box-shadow: 0 14px 26px -12px rgba(0, 147, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 147, 238, 0.2)!important;
}

.text-rose{
    color: rgba(0, 147, 238, 1)!important;
}

.btn.btn-rose.btn-simple, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple {
    background-color: transparent!important;
    color: rgba(0, 147, 238, 1)!important;;
    box-shadow: none!important;
}

input[type=search], .form-control{
    background-image: linear-gradient(rgba(0, 147, 238, 1), rgba(0, 147, 238, 1)), linear-gradient(#D2D2D2, #D2D2D2)!important;
}